### AWS Credentials (Required) ###
AWS_REQUEST_PAYER=requester
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

### Data Sources ###
# DEFAULT_DEM_SOURCE=https://prd-tnm.s3.amazonaws.com/StagedProducts/Elevation/13/TIFF/USGS_Seamless_DEM_13.vrt
# DEFAULT_LULC_SOURCE=/vsis3/usgs-landcover/annual-nlcd/c1/v0/cu/mosaic/Annual_NLCD_LndCov_2023_CU_C1V0.tif
# DEFAULT_EPSG_CODE=5070

### Database Schema ###
# REACH_TABLE=reach_network
# REACH_ID_FIELD=reach_id
# REACH_TO_ID_FIELD=reach_to_id
# DA_FIELD=total_da_sqkm
# STREAM_ORDER_FIELD=stream_order
# SLOPE_FIELD=slope

### Output Logging ###
# PRINT_SEPEX_STYLE_RESULTS=true

### Solver Settings ###
# USE_CUDA=true
# STABILITY_WAIT=0.1
# ADAPTIVE_STEP_ALGORITHM_SHRINK_FACTOR=0.5
# ADAPTIVE_STEP_ALGORITHM_GROW_FACTOR=1.1
# ADAPTIVE_STEP_ALGORITHM_MAX_STAGE_MIN_ACCEPTABLE=0.75
# ADAPTIVE_STEP_ALGORITHM_MAX_STAGE_MAX_ACCEPTABLE=1.25
# ADAPTIVE_STEP_ALGORITHM_MEDIAN_STAGE_MIN_ACCEPTABLE=0.25
# ADAPTIVE_STEP_ALGORITHM_MEDIAN_STAGE_MAX_ACCEPTABLE=0.75
# ADAPTIVE_STEP_ALGORITHM_EXTENT_MIN_ACCEPTABLE=0.075
# ADAPTIVE_STEP_ALGORITHM_EXTENT_MAX_ACCEPTABLE=0.125
