# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


# pixi environments
.pixi/*
!.pixi/config.toml

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.pytest_tmp/

# Test output / generated data (but not test fixtures)
tests/end_to_end_data/
tests/**/*.tmp/
tests/**/*.cache/

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# schema
schemas/

# development
dev/
